<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">

  </head>
  <body>

    <div class="ui secondary  menu">
        <a class="active item" href="/">
          Home
        </a>
        <a class="item" href="/about">
          About
        </a>
        <a class="item" href="/projects">
          Projects
        </a>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
          <a class="ui item">
            Logout
          </a>
        </div>
    </div>

    <div class="ui container">
