{{> header}}

      <h1>{{pageTitle}}</h1>

      <!-- screamIt is the Helper function, welcomeMessage becomes the first argument. -->
      <p>{{screamIt welcomeMessage}}</p>

<!-- To inject a template, use the > inside the double braces -->
{{> footer}}
