{{> header}}

      <h1>MAINTENANCE PAGE</h1>

      <!-- screamIt is the Helper function, welcomeMessage becomes the first argument. -->
      <p>Sorry, we're busy doing something else right now. Piss off.</p>

<!-- To inject a template, use the > inside the double braces -->
{{> footer}}
